body {
  font-family: sans-serif;
  background: rgb(245, 226, 247);
  text-align: center;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

td, th {
  width: auto;
  padding: 5px;
  height: auto;
  text-align: left;
}

table {
  margin: auto;
  padding: 10px;
  border: solid 1px rgb(136, 119, 119);
}